# gitignore

.vscode
/aspnet_client/**/*
/node_modules/**/*
/vendor/**/*
/www/web.config
/www/css/**/*


## mac隠しファイル
.DS_Store


## 画像ファイル
*.jpeg
*.jpg
*.png
*.gif
*.tiff
*.svg
*.svgz
*.bmp
*.pdf
*.webp


## 動画ファイル
*.mp4
*.mpg
*.avi
*.mov
*.flv
*.wmv
*.mkv


## 差分用
/compare/
/diff/