@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "サービス利用不可";
}

<div class="text-center mt-5">
    <h1>サービスを利用できません</h1/>
    <p class="mt-5">
        現在、システムの障害によりサービスをご利用いただけない状態です。<br/>
        しばらく時間をおいてから再度アクセスしてください。
    </p>
</div>
