html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
	color: var(--bs-secondary-color);
	text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
	text-align: start;
}

.validation-summary-errors ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.btn-task {
	width: 100px;
	flex-shrink: 0;
}

.task-history-block-on {
	border-radius: 0.125rem;
	background-color: #0d6efd;
	width: 15px;
	height: 15px;
}

.task-history-block-off {
	border-radius: 0.125rem;
	background-color: #d3d3d3;
	width: 15px;
	height: 15px;
}

.block-group {
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block-inner {
	box-shadow: var(--bs-box-shadow-sm);
	border: 2px solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	overflow: auto;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 95%;
	width: 95%;
}

.block-title {
	font-size: 1.75rem;
	font-weight: bold;
	margin-bottom: 24px;
}

.status-btn-add {
	width: 40px;
	flex-shrink: 0;
	text-align: center;
}

.status-text {
	width: 100px;
	flex-shrink: 0;
}

.status-bar {
	width: 3px;
	height: 34px;
	margin-right: 1px;
}

.status-bar-main {
	background-color: blue;
}

.status-bar-gray {
	background-color: lightblue;
}
