@{
    ViewData["Title"] = "再設定リクエスト完了";
}

<div class="text-center mt-5">
    <h1>
        再設定メールを送信しました
    </h1>
    <p class="mt-5">
        ご入力のメールアドレスが登録済みの場合、パスワード再設定用のURLをお送りしました。<br />
        メールをご確認ください。
    </p>
    <div class="mt-4">
        <a href="/account/login" class="link-primary">ログイン画面に戻る</a>
    </div>
</div>