@model simple_todo_web_app.Models.LoginViewModel
@{
    ViewData["Title"] = "ログイン";
}

<div class="text-center mt-5">
    <h1>ログイン</h1>
    <form method="post"
          asp-action="Login"
          asp-controller="Account"
          class="container mt-5">

        <!-- メールアドレス入力フォーム -->
        <div class="row mb-2">
            <label for="login-email-address" class="col form-label">
                メールアドレス
            </label>
            <input type="email"
                   id="login-email-address"
                   asp-for="Email"
                   class="form-control col"
                   placeholder="xxx@example.jp" />
        </div>

        <!-- パスワード入力フォーム -->
        <div class="row mb-2">
            <label for="login-password" class="col form-label">
                パスワード
            </label>
            <input type="password"
                   id="login-password"
                   asp-for="Password"
                   class="col form-control" />
        </div>

        <!-- バリデーション結果表示 -->
        @if (!ViewData.ModelState.IsValid)
        {
            <style>
                        .validation-summary-errors ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }
            </style>
            <div class="alert alert-primary mb-4" role="alert">
                <div asp-validation-summary="All"></div>
            </div>
        }

        <!-- ログインボタン -->
        <button type="submit" class="btn btn-primary">ログイン</button>

        <!-- 各リンク -->
        <div class="mt-4">
            <a class="link-primary">新規登録はこちら</a>
        </div>
        <div>
            <a class="link-primary">パスワードをお忘れの方</a>
        </div>
    </form>
</div>