@{
    ViewData["Title"] = "新規ユーザー登録完了";
}

<div class="text-center mt-5">
    <h1>
        ユーザー登録が完了しました
    </h1>
    <p class="mt-5">
        ご登録のメールアドレスに確認メールを送信しました。<br />
        メール内のリンクをクリックして登録を完了してください。
    </p>
    <div class="mt-4">
        <a href="/account/login" class="link-primary">ログイン画面に戻る</a>
    </div>
</div>
