@model simple_todo_web_app.Models.RegisterViewModel
@{
    ViewData["Title"] = "新規ユーザー登録";
}

<div class="text-center mt-5">
    <h1>新規ユーザー登録</h1>
    <form method="post"
          asp-action="Register"
          asp-controller="Account"
          class="container mt-5">

        <!-- メールアドレス入力フォーム -->
        <div class="row mb-2">
            <label for="register-email-address" class="col form-label">
                メールアドレス
            </label>
            <input type="email"
                   id="register-email-address"
                   asp-for="Email"
                   class="form-control col"
                   placeholder="xxx@example.jp" />
        </div>

        <!-- パスワード入力フォーム -->
        <div class="row mb-2">
            <label for="register-password" class="col form-label">
                パスワード
            </label>
            <input type="password"
                   id="register-password"
                   asp-for="Password"
                   class="col form-control" />
        </div>

        <!-- 確認パスワード入力フォーム -->
        <div class="row mb-2">
            <label for="register-confirm-password" class="col form-label">
                パスワード（確認）
            </label>
            <input type="password"
                   id="register-confirm-password"
                   asp-for="ConfirmPassword"
                   class="col form-control" />
        </div>

        <!-- バリデーション結果表示 -->
        @if (!ViewData.ModelState.IsValid)
        {
            <style>
                        .validation-summary-errors ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }
            </style>
            <div class="alert alert-primary mb-4" role="alert">
                <div asp-validation-summary="All"></div>
            </div>
        }

        <!-- ログインボタン -->
        <button type="submit" class="btn btn-primary">登録</button>

        <!-- 各リンク -->
        <div class="mt-4">
            <a href="/account/login" class="link-primary">ログイン画面に戻る</a>
        </div>
    </form>
</div>