@model simple_todo_web_app.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "パスワードの再設定";
}

<div class="text-center mt-5">
    <h1>パスワードの再設定</h1>
    <form method="post"
          asp-action="ResetPassword"
          asp-controller="Account"
          class="container mt-5">

        <!-- hiddenフィールド -->
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Token" />

        <!-- 新しいパスワード入力フォーム -->
        <div class="row mb-2">
            <label for="reset-new-password" class="col form-label">
                新しいパスワード
            </label>
            <input type="password"
                   id="reset-new-password"
                   asp-for="NewPassword"
                   class="col form-control" />
        </div>

        <!-- パスワード（確認）入力フォーム -->
        <div class="row mb-2">
            <label for="reset-confirm-password" class="col form-label">
                新しいパスワード（確認）
            </label>
            <input type="password"
                   id="reset-confirm-password"
                   asp-for="ConfirmPassword"
                   class="col form-control" />
        </div>

        <!-- バリデーション結果表示 -->
        <div id="validation-container" class="alert alert-primary mb-4" role="alert" style="display:none">
            <div asp-validation-summary="All"></div>
        </div>

        <!-- 再設定ボタン -->
        <button type="submit" class="btn btn-primary">パスワードを再設定する</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_FormValidation")
}
